{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bag Store</title>
    <link href="{% static '/shop/styles/header.css' %}" rel="stylesheet"> 
    <link href="{% static '/shop/styles/main.css' %}" rel="stylesheet">
</head>
<body>  
    <div class="center">
        {% block header %}
            <header>
                <a href="{% url 'index' %}" class="button_menu_style" id="logo">BagStore</a>
                <nav class="nav_menu">
                    <a href="{% url 'shop' %}" class="button_menu_style button_menu_hover">Магазин</a>
                    <a href="#" class="button_menu_style button_menu_hover">Корзина</a>
                </nav>  
            </header>
        {% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %}{% endblock footer %}
    </div>  
</body>
</html>
