{% extends "base.html" %}
{% load static %}
{% block link %}
        <link href="{% static '/shop/styles/header.css' %}" rel="stylesheet"> 
        <link href="{% static '/shop/styles/main.css' %}" rel="stylesheet">
    {% endblock link %}
{% block main %}
    <main>
        <section class="first_page">
            <div class="wallpaper">
                <img src="{% static '/shop/images/woman.png' %}" class="main_img">
            </div>
            <div class="main_text">
                <span class="text_in">Сумки, которые делают твой день лучше</span>
            </div>
        </section>
    </main>
{% endblock main %}