{% extends "base.html" %}
{% load static %}
{% block link %}
    <link href="{% static '/shop/styles/header.css' %}" rel="stylesheet"> 
    <link href="{% static '/shop/styles/shop.css' %}" rel="stylesheet"> 
{% endblock link %}
{% block main %}
    <main>
        <div class="center_products">
            <div class="products">
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_card__img">
                        <img src="{% static '/shop/images/woman.png' %}">
                    </div>
                    
                    <div class="product_card__middle_wrap">
                        <span class="product_card__price">
                            1250 &#8381;
                        </span>
                        
                        <span class="product_card__name">
                            Название сумки
                        </span>
                    </div>
                    
                    <div class="product_card__bottom_wrap">
                        <div class="product_card__evaluation">
                            <img src="">
                            <span>
                                0 &#183; Нет оценок
                            </span>
                        </div>

                        <a href="#" class="product_card__add_btn">Добавить</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}